@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* Primary */
    --strong-cyan: hsl(172, 67%, 45%);

    /* Neutral */
    --very-dark-cyan: hsl(183, 100%, 15%);
    --darker-grayish-cyan: hsl(186, 14%, 43%);
    --dark-grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --lighter-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

/*
     400 and 700 are the only available font weights.  
     The style guide provided says 500 is needed, so 
     made due with what I got from Google Fonts.
*/

body {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: var(--very-dark-cyan);

    background-color: var(--light-grayish-cyan);
    margin: 0;
}

h1, 
p {
    margin: 0;
}

label,
legend {
    color: var(--darker-grayish-cyan);
}

.container {
    width: 85%;
    margin: 0 auto;
    max-width: 650px;
}

.tip-calculator__title {
    font-size: 1.3rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 9px;

    margin: 1.5em 0;
}

.tip-calculator__container {
    background-color: var(--white);
    border-radius: 22px 22px 0 0;
    padding: 1.75em 0;
}

input[type='number'] {
    font-family: inherit;
    font-weight: inherit;
    font-size: 1.4rem;
    color: var(--very-dark-cyan);
    text-align: right;

    display: block;
    width: 100%;
    
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: .2em 1.5em;
    margin-top: .5em;
    
    background-color: var(--lighter-grayish-cyan);
    background-repeat: no-repeat;
    background-position: 6% 50%;
}

input[type='number']:focus {
    outline: 4px solid var(--light-grayish-cyan);
}

.bill-input {
    background-image: url('./images/icon-dollar.svg');
}

fieldset {
    margin: 1.5em 0;
    border: none;
    padding: 0;
}

.tip-calculator__percentages {
    padding-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em 1.3em;
}

.btn {
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--white);

    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: var(--very-dark-cyan);
    padding: .3em 0;
}

.btn:not(.tip-calculator__reset):hover {
    color: var(--very-dark-cyan);
    background-color: var(--light-grayish-cyan);
}

.btn:focus {
    outline: 4px solid var(--light-grayish-cyan);
}

.btn:active,
.selected:not(.tip-calculator__percentage--custom) {
    color: var(--very-dark-cyan);
    background-color: var(--strong-cyan);
}

.btn.tip-calculator__percentage--custom {
    color: var(--darker-grayish-cyan);
    background-color: var(--lighter-grayish-cyan);
    margin-top: 0;
    padding: .2em .5em;
}

.tip-calculator__percentage--custom::placeholder {
    font-size: 1.4rem;
    text-align: center;
}

.tip-calculator__percentage--custom:hover {
    background-color: var(--white);
    outline: 4px solid var(--light-grayish-cyan);
}

.people-input {
    background-image: url('./images/icon-person.svg');
}

.tip-calculator__results {
    color: var(--white);
    background-color: var(--very-dark-cyan);

    border-radius: 15px;
    margin: 1.75em auto 0;
    padding: 1.5em 0;
}

.result {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 1.5em 0;
}

.result:first-of-type {
    margin-top: 1em;
}

.per-person {
    font-size: .8rem;
    color: var(--dark-grayish-cyan);
}

.result__amount {
    font-size: 1.7rem;
    color: var(--strong-cyan);
}

.tip-calculator__reset {
    font-size: 1.2rem;
    color: var(--very-dark-cyan);
    text-transform: uppercase;
    background-color: var(--strong-cyan);
    width: 100%;
    opacity: .3;
}

.active.tip-calculator__reset:active {
    opacity: .6;
}

.feedback-container {
    display: flex;
    justify-content: space-between;
}

.feedback {
    display: none;
    font-weight: 700;
    color: hsl(32, 100%, 50%);
}

input.error,
input.error:focus {
    outline: 3px solid hsl(32, 100%, 50%);
}

.active {
    color: var(--very-dark-cyan);
    background-color: var(--light-grayish-cyan);
    opacity: 1;
}

@media (min-width: 450px) {
    body {
        padding: 3em 0;
    }

    .tip-calculator {
        width: 85%;
        margin: 0 auto;
        max-width: 650px;       
    }

    .tip-calculator__container {
        border-radius: 22px;
    }

    .tip-calculator__title {
        margin-top: 0;
    }

    .tip-calculator__percentages {
        gap: 1.25em 1.7em;
    }

    .tip-calculator__percentage--custom {
        padding: 0;
    }

    .tip-calculator__percentage--custom::placeholder {
        text-align: center;
    }

    fieldset {
        margin: 2.5em 0;
    }

    .btn {
        padding: .4em 0;
    }

    .tip-calculator__results {
        margin: 2.75em auto 0;
    }
}

@media (min-width: 1000px) {
    body {
        min-height: 100vh;
        padding-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tip-calculator {
        max-width: 950px;
    }

    .tip-calculator__container {
        display: flex;
        align-items: center;
        gap: 3em;

        padding: 2em;
    }

    .tip-calculator__title {
        margin: 0 0 3em;
    }

    .tip-calculator__percentages {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
    }

    .tip-calculator__results {
        align-self: stretch;
        margin: 0;
        padding: 2.25em .5em;
    }

    .results-container {
        display: flex;
        flex-direction: column;        
        justify-content: space-between;
        height: 100%;
    }

    .result {
        margin: 2.3em 0;
    }

    .result__amount {
        font-size: 2.5rem;
    }
}